header {
  border-bottom: 1px solid var(--gray3);
  padding: 0.5rem 0.5rem;
  position: sticky;
  top: 0;
  background-color: white;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.header-home-link {
  text-decoration: none;
}

.header-logo-title {
  display: flex;
  align-items: center;
}

.header-title {
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  user-select: none;
  font-family: "Poppins", sans-serif;
  color: var(--gray12);
  text-decoration: none;
}

.header-logo {
  width: 2rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.header-social {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 0.5rem;
}

.social-icon {
  color: inherit;
}

.menu-button {
  display: block;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 1px solid var(--gray6);
  cursor: pointer;
}

@media (min-width: 640px) {
  header {
    padding: 0.5rem 1rem;
  }

  .header-logo {
    width: 3rem;
  }

  .header-title {
    font-size: 1.5rem;
  }

  .header-social {
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  .menu-button {
    display: none;
  }
}
