main {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0rem 1rem;
  max-width: 960px;
  margin: auto;
}

li + li {
  margin-top: 0.5rem;
}

ul {
  margin: 0;
  padding-left: 1rem;
}
