body {
  display: flex;
  flex-direction: column;
  scroll-padding-top: 10rem;
}

main {
  display: flex;
  flex-grow: 1;
  scroll-padding-top: 10rem;
  justify-content: center;
}

.main-wrapper {
  display: flex;
}

.content {
  padding: 0rem 1rem;
  padding-bottom: 3rem;
  width: min(940px, 90%);
  margin-top: 0;
  scroll-padding-top: 10rem;
}

.sidebar-filler {
  display: none;
  width: min-content;
  padding-top: 2.2rem;
}

li + li {
  margin-top: 0.25rem;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}

@media (min-width: 960px) {
  .content {
    width: min(940px, 80%);
  }

  .sidebar-filler {
    display: block;
  }
}
