body {
  display: flex;
  flex-direction: column;
  scroll-padding-top: 10rem;
}

.main-inner {
  scroll-padding-top: 10rem;
  padding: 0 3rem;
}

.content {
  padding-bottom: 3rem;
  margin-top: 0;
  scroll-padding-top: 10rem;
  width: 100%;
}

.sidebar-filler {
  display: none;
  width: min-content;
  border-right: 1px solid var(--gray4);
}

li + li {
  margin-top: 0.25rem;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}

@media (min-width: 1000px) {
  .main-inner {
    display: flex;
    padding-left: 1rem;
    gap: 4rem;
  }

  .sidebar-filler {
    display: block;
  }

  .content {
    width: min(960px, 80%);
  }
}
