aside {
  display: none;
  position: fixed;
  top: 5rem;

  height: min-content;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  width: 12rem;
}

.sidebar-content nav {
  display: flex;
  flex-direction: column;
}

.sidebar-content .nav-link {
  font-weight: 500;
  color: var(--gray10);
  border-left: 1px solid var(--gray6);
  padding: 0.2rem 1rem;
}

.sidebar-content .nav-link:hover {
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.sidebar-content .nav-link.active {
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

@media (min-width: 900px) {
  aside {
    display: block;
  }
}
