aside {
  display: none;
  position: fixed;
  top: 5rem;

  height: min-content;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  width: 12rem;
}

.sidebar-content nav {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sidebar-content .nav-link {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.sidebar-content .nav-link:hover {
  background-color: hsla(35, 100%, 55.5%, 0.2);
}

.sidebar-content .nav-link.active {
  background-color: hsla(35, 100%, 55.5%, 0.2);
}

@media (min-width: 900px) {
  aside {
    display: block;
  }
}
