aside {
  position: sticky;
  top: 4.5rem;
  display: none;
  height: min-content;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  width: 11rem;
}

.sidebar-content nav {
  display: flex;
  flex-direction: column;
}

.sidebar-content .nav-link {
  font-weight: 500;
  color: var(--gray10);
  border-left: 3px solid var(--gray6);
  padding: 0.2rem 1rem;
}

.sidebar-content .nav-link:hover {
  color: var(--primary-color);
  border-left: 3px solid var(--primary-color);
}

.sidebar-content .nav-link.active {
  color: var(--primary-color);
  border-left: 3px solid var(--primary-color);
}

@media (min-width: 1000px) {
  aside {
    display: block;
  }
}
