#tutorial-lang-select {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#tutorial-lang-select .tutorial-lang-option {
  min-width: 4rem;
  text-align: center;
  border-bottom: 3px solid var(--gray7);
  cursor: pointer;
}

#tutorial-lang-select .tutorial-lang-option.active {
  border-bottom: 3px solid var(--primary-color);
}

.tutorial-lang-observer {
  display: none;
}

.tutorial-lang-observer.show {
  display: inline;
}
