html {
  color: var(--gray12);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  scroll-padding-top: 4rem;
}

.heading-anchor {
  margin-top: 0.5rem;
  color: var(--gray12);
}
