.highlight {
  max-width: auto;
}

.highlight pre {
  padding: 0.5rem;
  padding: 1rem;
  overflow: auto;
  border: 1px solid $gray6;
  border-radius: 8px;
}

code {
  background-color: #f0f0f5;
  font-family: "Roboto Mono", monospace;
}
