<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FlatBuffers</title>
    <meta name="description" content="FlatBuffers Documentation" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $logo := resources.Get "images/flatbuffers_logo.svg" }}
    <link
      rel="icon"
      href="{{ $logo.Permalink }}"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700&family=Roboto+Mono:wght@400&display=swap"
      rel="stylesheet"
    />
    {{ $menuScript := resources.Get "js/menu.js" }}
    <script defer src=" {{ $menuScript.Permalink }}"></script>
    {{ $appScript := resources.Get "js/app.js" }}
    <script defer type="module" src="{{ $appScript.Permalink }}"></script>
    {{ $sass := resources.Get "scss/root.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
    <div id="app">
      {{ partial "header/header.html" . }}
      {{ partial "menu.html" . }}
      <main>
        <div class="main-inner">
          <div class="sidebar-wrapper">
            {{ partial "sidebar.html" . }}
          </div>
          <div class="content">
            <h1>{{ .Title }}</h1>
            {{ block "main" . }}{{ end }}
          </div>
          <div class="toc">
            <div class="toc-heading">Table Of Contents</div>
            {{ .TableOfContents }}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
