<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FlatBuffers</title>
    <meta name="description" content="FlatBuffers Documentation" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ printf "%s%s" .Site.Home.RelPermalink "assets/flatbuffer_logo.svg" }}"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&family=Roboto+Mono:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="{{ printf "%s%s" .Site.Home.RelPermalink "js/menu.js" }}"
    ></script>
    <script
      defer
      type="module"
      src="{{ printf "%s%s" .Site.Home.RelPermalink "js/app.js" }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ printf "%s%s" .Site.Home.RelPermalink "css/normalize.css" }}"
    />
    <link
      rel="stylesheet"
      href="{{ printf "%s%s" .Site.Home.RelPermalink "css/root.css" }}"
    />
  </head>
  <body>
    <div id="app">
      {{ partial "header/header.html" . }}
      {{ partial "menu.html" . }}
      <main>
        <div class="main-inner">
          <div class="sidebar-filler">
            {{ partial "sidebar.html" . }}
          </div>
          <div class="content">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
