<header>
  <div class="header-content">
    <a class="header-home-link" href="{{ .Site.Home.RelPermalink }}">
      <div class="header-logo-title">
        {{ $logo := resources.Get "images/flatbuffers_logo.svg" }}
        <img
          src="{{ $logo.Permalink }}"
          class="header-logo"
          alt="FlatBuffers logo"
        />
        <div class="header-title">FlatBuffers</div>
      </div>
    </a>
    <div class="header-social">
      {{- partial "header/discord.html"  . -}}
      {{- partial "header/github.html" . -}}
    </div>
    {{- partial "header/menu-button.html" . -}}
  </div>
</header>
